@import url('https:/fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #333;
}

.container {
    position: relative;
    display: flex;
    padding: 80px 40px;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 80px;
}

.card {
    position: relative;
    width: 350px;
    height: 180px;
    background: #333;
    transition: 0.5s;
}

.card:hover {
    height: 450px;
}

.card .lines {
    position: absolute;
    inset: 0;
    background: #000;
    overflow: hidden;
}

.card .lines::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 800px;
    height: 120px;
    background: linear-gradient(transparent, #45f3ff, #45f3ff, #45f3ff, transparent);
    animation: animate 4s linear infinite;
    animation-play-state: paused;
}

.card:hover .lines::before {
    animation-play-state: running;
}

@keyframes animate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg)
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg)
    }
}

.card .lines::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.card .imgBx {
    position: absolute;
    top: -60px;
    left: 50%;
    width: 150px;
    height: 150px;
    transform: translateX(-50%);
    background: #000;
    transition: 0.5s;
    z-index: 10;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .imgBx {
    top: 25px;
    width: 200px;
    height: 200px;
}

.card .imgBx::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 150px;
    transform: translate(-50%, -50%);
    background: linear-gradient(transparent, #ff3c7b, #ff3c7b, #ff3c7b, transparent);
    animation: animate2 6s linear infinite;
    animation-play-state: paused;
}

.card:hover .imgBx::before {
    animation-play-state: running;
}

@keyframes animate2 {
    0% {
        transform: translate(-50%, -50%) rotate(360deg)
    }

    100% {
        transform: translate(-50%, -50%) rotate(0deg)
    }
}

.card .imgBx::after {
    content: '';
    position: absolute;
    inset: 3px;
    background: #292929;
}

.card .imgBx img {
    position: absolute;
    width: 100px;
    z-index: 1;
    filter: invert(1);
    opacity: 0.5;
    transition: 0.5s;
}

.card:hover .imgBx img {
    opacity: 1
}

.card .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.card .content .details {
    padding: 30px 20px;
    text-align: center;
    width: 100%;
    transition: 0.5s;
    transform: translateY(145px);
}

.card:hover .content .details {
    transform: translateY(0px)
}

.card .content .details h2 {
    font-size: 1.5em;
    font-weight: 500;
    color: #45f3ff;
    line-height: 1.2em
}

.card .content .details p {
    color: #fff;
    opacity: 0;
    transition: 0.5s
}

.card:hover .content .details p {
    opacity: 1;
}

.card .content .details a {
    display: inline-block;
    padding: 8px 15px;
    background: #45f3ff;
    color: #292929;
    margin-top: 10px;
    font-weight: 500;
    text-decoration: none;
    opacity: 0;
    transition: 0.5s;
}

.card:hover .content .details p,
.card:hover .content .details a {
    opacity: 1;
}

.box {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: repeating-conic-gradient(from var(--a), #ff2770 0%, #ff2770 5%, transparent 5%, transparent 35%, #ff2770 50%);
    animation: animate3 4s linear infinite;
    border-radius: 20px;
}

.box::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: repeating-conic-gradient(from var(--a), #45f3ff 0%, #45f3ff 5%, transparent 5%, transparent 35%, #45f3ff 50%);
    animation: animate3 4s linear infinite;
    border-radius: 20px;
    animation-delay: -1s;
}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;
}

@keyframes animate3 {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg
    }
}

.box::after {
    content: '';
    position: absolute;
    inset: 8px;
    background: #2d2d39;
    border-radius: 15px;
    border: 9px solid #25252b;
}

.box form {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    padding: 0 40px;
    z-index: 10;
}

.box form h2 {
    color: #fff;
    font-weight: 600;
}

.box form input {
    position: relative;
    width: 85%;
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    letter-spacing: 0.05em;
}

.box form input::placeholder {
    color: rgba(255, 255, 255, 0.5)
}

.box form input[type='submit'] {
    font-weight: 600;
    background: #fff;
    color: #2d2d39;
    cursor: pointer;
    transition: 0.5s
}

.box form input[type='submit']:hover {
    background: #ff2770
}

.box form .group {
    width: 85%;
    display: flex;
    justify-content: space-between;
}

.box form .group a {
    color: rgba(255, 255, 255, 0.75);
    text-decoration: none;
}

.box form .group a:last-child {
    color: #45f3ff;
    font-weight: 500;
}